@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.header {
    padding-top: 46px;
    background: #F1F1F1;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 76px;
}

.logo {
    position: relative;
    padding: 0 12px 3px 0;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;

    color: #000
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FDA300;
}

.title-1 {
    font-size: 34px;
    font-weight: 600;
}

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
}

.nav-button {
    display: none;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: #000;
    text-decoration: none;
}

.nav-link.active {
    color: #606060;
}

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    margin-top: 124px;
    max-width: 500px;
}

.header-heading {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 20px;
}

.header-heading p {
    line-height: 2;
}

.services {
    padding: 90px 0;
}

.services-row {
    display: flex;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.service-card {
    flex: 1 1 0;
    min-width: 315px;
}
.service-card-img {
    margin-bottom: 30px;
}
.service-card-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.portfolio {
    padding: 90px 0;
    background: #F1F1F1;
}

.portfolio-title {
    margin-bottom: 70px;
    text-align: center;
}

.project {
    text-align: center;
}

.project + .project {
    margin-top: 90px;
}

.project-img {
    margin-bottom: 40px;
}
.project-title {
    font-size: 18px;
}

.project-title a {
    color: #000;
    text-decoration-line: underline;
}

.contacts {
    padding: 90px 0;
    text-align: center;
}

.contacts-title {
    margin-bottom: 40px;
}

.contacts-content {
    margin: 0 auto 40px;
}
.contacts-button {
    margin-bottom: 80px;
}
.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 33px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.contacts-social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-bottom: 40px;
}
.contacts-footer {
    color: #828282;
}


